{% render 'partials/head.liquid' %}

<section class="about-banner">

  <h2 class="about-title">Menu
  </h2>

</section>

<article class="about-section">
  <p class="about-text">We are a small Korean traditional food stand located in Market 33. Bibimbap is a Korean hot stone rice dish with focus on variety of nutrition vegetables, meats cooked carefully without much oil and rounded out with carbs from the rice, making it a very well-balanced, nutritious meal. We choose fresh vegetables every day to repair your food such as bean sprout, carrot, mushroom and spinach.</p>

  {% for dish in dishes %}
    <div class="dish-wrapper">
      <input
        type="checkbox"
        id="menu{{ forloop.index }}"
        class="menu-checkbox">
      <label for="menu{{ forloop.index }}" class="menu-plus">
        <img
          src="/assets/plus.svg"
          class="plus-icoon"
          alt="+">
      </label>

      <section class="section-dish">
        <h3>{{ dish.name }}</h3>
        <p class="menu-description">{{ dish.description }}</p>
        <p>
          <strong>Prijs: €{{ dish.price }}</strong>
        </p>
      </section>
    </div>
  {% endfor %}
</div>

  <img
    src="assets/test.png"
    class="background-img"
    alt="dishes">

</article>

<div class="background-container">




{% render 'partials/foot.liquid' %}