{% render 'partials/head.liquid' %}

<section class="about-banner">

  <h2 class="about-title">About
  </h2>

</section>

<div class="background-container">
  <img
    src="assets/test.png"
    class="background-img"
    alt="dishes">

  {% for dish in dishes %}
    <div class="dish-wrapper">
      <input
        type="checkbox"
        id="menu{{ forloop.index }}"
        class="menu-checkbox">
      <label for="menu{{ forloop.index }}" class="menu-plus">
        <img
          src="/assets/plus.svg"
          class="plus-icoon"
          alt="+">
      </label>

      <section class="section-dish">
        <h3>{{ dish.name }}</h3>
        <p class="menu-description">{{ dish.description }}</p>
        <p>
          <strong>Prijs: €{{ dish.price }}</strong>
        </p>
      </section>
    </div>
  {% endfor %}
</div>


{% render 'partials/foot.liquid' %}