{% render 'partials/head.liquid' %}

<section class="about-banner">

  <h2 class="about-title">About
  </h2>

</section>

<ul class="tags">
  {% for tag in tags %}
    <li class="tag">
      <a href="/order?tag={{ tag }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>

<ul class="container">
  {% for dish in dishes %}
    <li class="card">
      <div class="info">
        <div class="text-dish">
          <h3 class="dish-name">{{ dish.name }}</h3>
          <p class="dish-description">{{ dish.description }}</p>
          <p class="dish-price">
            €{{ dish.price }}</p>
          <form method="POST" action="/api/winkelmand">
            <input
              type="hidden"
              name="name"
              value="{{ dish.name }}" />
            <button type="submit" class="dish-button">Toevoegen aan winkelmand</button>
          </form>
        </div>
        <img
          src="{{ dish.imagelink }}"
          alt="{{ dish.name }}"
          class="dish-img" />
      </div>
    </li>
  {% endfor %}
</ul>


{% render 'partials/foot.liquid' %}